name: YAML Demo Pipeline

on:
  push:
    branches:
       -main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Run echo command
        run: echo "YAML pipeline executed sucessfully"
